{{#if currentUser.isDoctor}}
  {{#identity-card avatarSize=128 avatarUrl=patient.avatarUrl}}
    <h4 class="media-heading">{{patient.fullName}}</h4>

    <p>{{t 'consultation.dob'}}: {{date patient.dob}}</p>
    <p>{{t 'consultation.city'}}: {{patient.city}}</p>
    <p>{{t 'consultation.duration'}}: {{time durationMs}}</p>
    <p>{{t 'consultation.cause'}}: {{cause}}</p>
    <p>{{t 'consultation.diagnosis'}}: {{diagnosisCategory.humanLabel}}</p>
    <p>{{t 'consultation.advice'}}: {{advice}}</p>
  {{/identity-card}}
{{else}}
  {{#identity-card avatarSize=128 avatarUrl=patient.avatarUrl}}
    <h4 class="media-heading">Dr. {{doctor.fullName}}</h4>

    <p>{{t 'consultation.practice'}}: {{doctor.practice}}</p>
    <p>{{t 'consultation.duration'}}: {{time durationMs}}</p>
    <p>{{t 'consultation.cause'}}: {{cause}}</p>
    <p>{{t 'consultation.diagnosis'}}: {{diagnosisCategory.humanLabel}}</p>
    <p>{{t 'consultation.advice'}}: {{advice}}</p>
  {{/identity-card}}
{{/if}}
