{{#if isActive}}
  <div class="alert alert-info">
    <div class="row">
      <div class="col-sm-3">
        <b>{{time runTime}}</b>
        ({{t 'consultation.remaining'}} {{time remainingTime}})
      </div>

      <div class="col-sm-6 text-center">
        {{t 'consultation.top_p'}}

        {{#if currentUser.isPatient}}
          <b>Dr. {{doctor.fullName}}</b>
        {{else}}
          <b>{{patient.fullName}}</b>
        {{/if}}
      </div>

      <div class="col-sm-3 text-right">
        <a href="#" class="btn btn-default btn-xs" {{action 'finish'}}>
          {{t 'consultation.end_button'}}
        </a>
      </div>
    </div>
  </div>

  <a href="#" {{bind-attr class=":btn :btn-default isModeVideo:active"}} {{action 'toggleVideoMode'}}>
    {{t 'consultation.video_button'}}
  </a>

  {{#if showVideo}}
    {{tokbox-video sessionId=tokboxSession token=tokboxToken size=view.videoSize}}
  {{/if}}

  {{render 'messages' messages}}
{{else}}
  <h4>{{t 'consultation.over_header'}}</h4>

  {{partial 'consultation/card'}}

  {{partial 'consultation/buttons'}}
{{/if}}
