<% if user_signed_in? %>
  <script src="https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js"></script>
  <script src="https://d3dy5gmtp8yhk7.cloudfront.net/2.2/pusher.min.js"></script>

  <script type="text/javascript">
    var currentUser = JSON.parse('<%= UserSerializer.new(current_user).to_json.html_safe %>');
    var tokboxApiKey = "<%= ENV['OPEN_TOK_KEY'] %>";
    var pusherKey = "<%= Pusher.key %>";
    var userChannelName = "<%= current_user.pusher_channel_name %>";
    var pulserChannelName = "<%= current_user.pulser_channel_name %>";
  </script>
<% else %>
  <h1>We connect doctors and patients via live video chat</h1>
<% end %>
