<h2>Doctors</h2>

<div class="form-group">
  <ul class="nav nav-pills">
    {{#link-to 'doctors.index' tagName="li"}}
      {{#link-to 'doctors.index'}}All{{/link-to}}
    {{/link-to}}
    {{#link-to 'doctors.family_doctors' tagName="li"}}
      {{#link-to 'doctors.family_doctors'}}Family doctors only{{/link-to}}
    {{/link-to}}
    {{#link-to 'doctors.pharmacists' tagName="li"}}
      {{#link-to 'doctors.pharmacists'}}Pharmacists only{{/link-to}}
    {{/link-to}}
  </ul>
</div>

<div class="row">
  {{#each}}
    <div class="col-lg-3 text-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Dr. {{fullName}}</h3>
          <h6>
            {{humanPractice}} &mdash; {{status}}
          </h6>

          <a href="#" {{bind-attr class=":btn :btn-success isOffline:disabled"}} {{action 'showRequestModal' this}}>Call now</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
