{{#if content}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{{t 'patient_history.date'}}</th>
        <th>{{t 'patient_history.doctor'}}</th>
        <th>{{t 'patient_history.status'}}</th>
    </thead>

    <tbody>
      {{#each controller}}
        <tr>
          <td>{{createdAt}}</td>
          <td>{{doctor.fullName}}</td>
          <td>
            {{#if isAccepted}}
              {{t 'patient_history.consulted'}}
            {{else}}
              {{t 'patient_history.canceled'}}
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>{{t 'patient_history.nothing'}}</p>
{{/if}}
