<h4>Queue</h4>

{{#if filteredContent}}
  <a href="#" class="btn btn-success" {{action 'acceptNext'}}>
    Talk to next patient ({{nextRequest.patient.fullName}})
  </a>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Patient</th>
        <th>Cause</th>
        <th>Placed at</th>
      </tr>
    </thead>

    <tbody>
      {{#each filteredContent}}
        <tr>
          <td>{{patient.fullName}}</td>
          <td>{{cause}}</td>
          <td>{{createdAt}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>The queue is empty.</p>
{{/if}}
