<h4>Consultation requests</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Patient</th>
      <th>Cause</th>
      <th>Placed at</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {{#each controller}}
      <tr {{bind-attr class="isNew:warning"}}>
        <td>{{patient.fullName}}</td>
        <td>{{cause}}</td>
        <td>{{createdAt}}</td>
        <td>{{status}}</td>
        <td>
          {{#if isNew}}
            <a href="#" {{action 'acceptRequest' this}} class="btn btn-sm btn-success">Accept</a>
            <a href="#" {{action 'declineRequest' this}} class="btn btn-sm btn-danger">Decline</a>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
