{{#if isActive}}
  <div class="alert alert-info">
    <div class="row">
      <div class="col-lg-3">
        <b>{{time runTime}}</b> (remaining time: {{time remainingTime}})
      </div>

      <div class="col-lg-6 text-center">
        Live consultation with
        {{#if currentUser.isPatient}}
          <b>Dr. {{doctor.fullName}}</b>
        {{else}}
          <b>{{patient.fullName}}</b>
        {{/if}}
      </div>

      <div class="col-lg-3 text-right">
        <a href="#" class="btn btn-default btn-xs" {{action 'finish'}}>End</a>
      </div>
    </div>
  </div>

  {{#if showVideo}}
    {{tokbox-video sessionId=tokboxSession token=tokboxToken}}
  {{/if}}
{{else}}
  <h4>The consultation is over</h4>

  {{#if currentUser.isDoctor}}
    <a href="#" {{action 'requestExtension'}} class="btn btn-lg btn-success btn-block">Extend consultation</a>
    {{#link-to 'queue' class="btn btn-lg btn-success btn-block"}}Go to queue{{/link-to}}
    {{#link-to 'queue.next' class="btn btn-lg btn-success btn-block"}}Proceed to next patient{{/link-to}}
  {{else}}
    {{#link-to 'patient.dashboard' class="btn btn-lg btn-success btn-block"}}Go to dashboard{{/link-to}}
  {{/if}}
{{/if}}
