{{#if isActive}}
  <div class="alert alert-info">
    <div class="row">
      <div class="col-lg-3">
        <b>{{time runTime}}</b>
        ({{t 'consultation.remaining'}} {{time remainingTime}})
      </div>

      <div class="col-lg-6 text-center">
        {{t 'consultation.top_p'}}

        {{#if currentUser.isPatient}}
          <b>Dr. {{doctor.fullName}}</b>
        {{else}}
          <b>{{patient.fullName}}</b>
        {{/if}}
      </div>

      <div class="col-lg-3 text-right">
        <a href="#" class="btn btn-default btn-xs" {{action 'finish'}}>
          {{t 'consultation.end'}}
        </a>
      </div>
    </div>
  </div>

  {{#if showVideo}}
    {{tokbox-video sessionId=tokboxSession token=tokboxToken}}
  {{/if}}

  {{render 'messages' messages}}
{{else}}
  <h4>{{t 'consultation.over_header'}}</h4>

  {{#if currentUser.isDoctor}}
    {{#if isOver}}
      <a href="#" {{action 'requestExtension'}} {{bind-attr class=":btn :btn-lg :btn-success :btn-block canExtend::disabled"}}>
        {{t 'consultation.extend_button'}}

        {{#if canExtend}}({{time extensionTimeLeft}}){{/if}}
      </a>
    {{/if}}

    {{#link-to 'queue' class="btn btn-lg btn-success btn-block"}}{{t 'consultation.queue_button'}}{{/link-to}}
    {{#link-to 'queue.next' class="btn btn-lg btn-success btn-block"}}{{t 'consultation.next_button'}}{{/link-to}}
  {{else}}
    {{#link-to 'patient.dashboard' class="btn btn-lg btn-success btn-block"}}{{t 'consultation.dashboard_button'}}{{/link-to}}
  {{/if}}
{{/if}}
