<div class="card-outer">
  <div class="card doctor-card">
    <div class="card-body">
      <h4>
        {{online-dot isOffline=isOffline}}

        Dr. {{fullName}}

        {{toggleable-star value=favorite action="toggleStar"}}
      </h4>

      <h6>
        {{humanPractice}}
      </h6>

      <img {{bind-attr src="avatarUrl"}} class="img-circle">

      <div>
        <a href="#" {{bind-attr class=":btn :btn-success isOffline:disabled"}}
           {{action 'showRequestModal' this}}>
          {{t 'doctor_card.call'}}
        </a>
      </div>
    </div>
  </div>
</div>
