<h2>
  {{t 'doctors.header'}}

  <small class="selector">
    {{#link-to (query-params practice="all")}}{{t 'doctors.sel_all'}}{{/link-to}} /
    {{#link-to (query-params practice="family")}}{{t 'doctors.sel_gp'}}{{/link-to}} /
    {{#link-to (query-params practice="pharmacist")}}{{t 'doctors.sel_ph'}}{{/link-to}}

    <label>
      {{input type="checkbox" checked=online}}
      {{t 'doctors.check_online'}}
    </label>
  </small>
</h2>

{{#if filteredContent}}
  <div class="row">
    {{each filteredContent itemController='doctor_card' itemView='doctor_card'}}
  </div>
{{else}}
  <p>{{t 'doctors.nothing'}}</p>
{{/if}}
