<div class="col-lg-3 text-center">
  <div class="panel panel-default doctor-card">
    <div class="panel-body">
      <h3>
        Dr. {{fullName}}

        <a href="#" class="star" {{action 'toggleStar'}}>
          {{#if favorite}}
            &#9733;
          {{else}}
            &#9734;
          {{/if}}
        </a>
      </h3>

      <h6>
        {{humanPractice}} &mdash; {{status}}
      </h6>

      <img src="/assets/no-avatar.png" class="img-circle">

      <a href="#" {{bind-attr class=":btn :btn-success isOffline:disabled"}} {{action 'showRequestModal' this}}>Call now</a>
    </div>
  </div>
</div>
