<div class="col-md-3 col-sm-4 col-xs-6 text-center">
  <div class="panel panel-default doctor-card">
    <div class="panel-body">
      <h4>
        {{online-dot isOffline=isOffline}}

        Dr. {{fullName}}

        <a href="#" class="star" {{action 'toggleStar'}}>
          {{#if favorite}}
            &#9733;
          {{else}}
            &#9734;
          {{/if}}
        </a>
      </h4>

      <h6>
        {{humanPractice}}
      </h6>

      <img src="/assets/no-avatar.png" class="img-circle">

      <div>
        <a href="#" {{bind-attr class=":btn :btn-success isOffline:disabled"}} {{action 'showRequestModal' this}}>
          {{t 'doctor_card.call'}}
        </a>
      </div>
    </div>
  </div>
</div>
