{{#modal-dialog action="closeModal"}}
  <div class="modal-header">
    <h4 class="modal-title">{{t 'new_connection.header'}}</h4>
  </div>

  <form class="form-horizontal">
    <div class="modal-body">
      {{#if invited}}
        <div class="alert alert-info">
          <p>{{t 'new_connection.success_p'}}</p>
        </div>
      {{/if}}

      <div class="form-group">
        <label class="col-sm-2 control-label">
          {{t 'new_connection.email_label'}}
        </label>
        <div class="col-sm-10">
          {{input type="text"
                  placeholder="Patient email"
                  class="form-control"
                  value=email}}
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" {{action 'invite'}} class="btn btn-primary" {{bind-attr disabled="buttonDisabled"}}>
        {{#if isInviting}}
          {{t 'new_connection.invite_button_progress'}}
        {{else}}
          {{t 'new_connection.invite_button'}}
        {{/if}}
      </button>
    </div>
  </form>
{{/modal-dialog}}
