<h4>{{t 'queue.header'}}</h4>

{{#if content}}
  <a href="#" class="btn btn-success" {{action 'acceptNext'}}>
    {{t 'queue.next_button' name=nextRequest.patient.fullName}}
  </a>

  <div class="row">
    {{#each}}
      <div class="card-outer">
        <div class="card patient-card">
          <div class="card-body">
            <h4>
              {{online-dot isOffline=patient.isOffline}}

              {{patient.fullName}}
            </h4>

            <h6>
              {{cause}}
            </h6>

            <img {{bind-attr src="patient.avatarUrl"}} class="img-circle">

            <h6>{{formatTime createdAt}}</h6>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>{{t 'queue.nothing'}}</p>
{{/if}}
