<h4>{{t 'queue.header'}}</h4>

{{#if content}}
  <a href="#" class="btn btn-success" {{action 'acceptNext'}}>
    {{t 'queue.next_button' name=nextRequest.patient.fullName}}
  </a>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>{{t 'queue.patient'}}</th>
        <th>{{t 'queue.cause'}}</th>
        <th>{{t 'queue.placed_at'}}</th>
      </tr>
    </thead>

    <tbody>
      {{#each controller}}
        <tr>
          <td>
            {{patient.fullName}}

            {{online-dot isOffline=patient.isOffline}}
          </td>

          <td>{{cause}}</td>
          <td>{{createdAt}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>{{t 'queue.nothing'}}</p>
{{/if}}
