<!DOCTYPE html>
<html>
<head>
  <title>medberry</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <%= render 'layouts/navigation' %>
    </div>
  </nav>
</header>

<div class="container">
  <%= yield %>
</div>

<% if user_signed_in? %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'translations' %>
<% else %>
  <%= javascript_include_tag 'simple' %>
<% end %>

</body>
</html>
