<!DOCTYPE html>
<html>
<head>
  <title>medlive</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <% if user_signed_in? %>
    <%= javascript_include_tag 'app' %>
  <% else %>
    <%= javascript_include_tag 'application' %>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <%= render 'layouts/navigation' %>
    </div>
  </nav>
</header>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
