<div class="row">
  <div class="col-sm-8">
    <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f| %>
      <%= f.error_notification %>

      <% if current_user.patient? %>
        <h3>Personal information</h3>

        <%= f.simple_fields_for :identity do |ff| %>
          <%= ff.input :bsn, label: 'BSN', placeholder: '123456789', autofocus: true %>
          <%= ff.input :dob, label: 'Date of birth', order: [:day, :month, :year], start_year: 1900, end_year: Time.now.year, as: :date %>
          <%= ff.input :gender, collection: [['Male', 'male'], ['Female', 'female']], default: 'male' %>
          <%= ff.input :first_name, placeholder: 'John' %>
          <%= ff.input :last_name, placeholder: 'Doe' %>
          <%= ff.input :zip, label: 'Postal code', placeholder: '1111 AB' %>
          <%= ff.input :address, placeholder: 'Somestraat 42' %>
          <%= ff.input :city, placeholder: 'Amsterdam' %>
        <% end %>

        <h3>Insurance information</h3>

        <%= f.simple_fields_for :identity do |fi| %>
          <%= fi.simple_fields_for :insurance_policy do |ff| %>
            <%= ff.association :insurance_company, collection: InsuranceCompany.all, label_method: :name, prompt: 'Insurance company' %>
            <%= ff.input :number, placeholder: 'Insurance policy number' %>
          <% end %>
        <% end %>
      <% else %>
        <h3>Personal information</h3>

        <%= f.simple_fields_for :identity do |ff| %>
          <%= ff.input :first_name, placeholder: 'John' %>
          <%= ff.input :last_name, placeholder: 'Doe' %>
        <% end %>
      <% end %>

      <h3>Account information</h3>

      <%= f.input :email, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= f.input :password, placeholder: "leave blank if you don't want to change it" %>
      <%= f.input :password_confirmation %>
      <%= f.input :current_password %>

      <%= f.button :submit, 'Update my account', class: 'btn-success' %>
    <% end %>
  </div>

  <div class="col-sm-5">
    <h4>Unhappy? You can cancel your account</h4>

    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger' %>
  </div>
</div>
