<div class="row">
  <div class="col-sm-8">
    <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f| %>
      <%= f.error_notification %>

      <% if current_user.patient? %>
        <%= render partial: 'users/registrations/patient_form', locals: { f: f } %>
      <% else %>
        <h3>Personal information</h3>

        <%= f.simple_fields_for :identity do |ff| %>
          <%= ff.input :first_name, placeholder: 'John' %>
          <%= ff.input :last_name, placeholder: 'Doe' %>
        <% end %>
      <% end %>

      <h3>Account information</h3>

      <%= f.input :email, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= f.input :password, placeholder: "leave blank if you don't want to change it" %>
      <%= f.input :password_confirmation %>
      <%= f.input :current_password %>

      <%= f.button :submit, 'Update my account', class: 'btn-success' %>
    <% end %>
  </div>

  <div class="col-sm-5">
    <h4>Unhappy? You can cancel your account</h4>

    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger' %>
  </div>
</div>
