<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h2>Sign up</h2>

    <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
      <%= f.error_notification %>

      <%= render partial: 'users/registrations/patient_form', locals: { f: f } %>

      <h3>Account information</h3>

      <%= f.input :email, label: 'Email address', placeholder: 'john.doe@gmail.com' %>
      <%= f.input :password, placeholder: 'Desired password' %>
      <%= f.input :password_confirmation, placeholder: 'Confirm' %>

      <%= f.button :submit, 'Sign up!', class: 'btn-success' %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
